<div class="card card-wallet">

  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#test1">Wallet</a></li>
        <li class="tab col s3"><a href="#test2">Send money</a></li>
        <li class="tab col s3"><a href="#test4">Transactions</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
      <p><%= current_user.first_name %> <%= current_user.last_name %></p>
      <p><%= @network %> address: <%= @address %></p>
      <p><%= @network %> Balance: <%= @balance.to_s %> <%= @network %></p>
      <p><%= @network %> Price: <%= @price.to_s %> USD</p>

      <p>Last sent transactions: </p>
      <table class="responsive-table highlight">
        <tr>
          <th>Receiver</th>
          <th>Confirmations</th>
          <th>Amount</th>
        </tr>
        <% @sent.each do |sent| %>
        <tr>
          <td><%= JSON.parse(sent.to_json)["receivers"][0] %></td>
          <td><%= JSON.parse(sent.to_json)["confirmations"] %></td>
          <td><%= JSON.parse(sent.to_json)["amounts_sent"][0]["amount"] %></td>
        </tr>
        <% end %>
      </table>

      <p>Last received transactions: </p>
      <table class="responsive-table highlight">
        <tr>
          <th>Sender</th>
          <th>Confirmations</th>
          <th>Amount</th>
        </tr>
        <% @received.each do |received| %>
        <tr>
          <td><%= JSON.parse(received.to_json)["senders"][0] %></td>
          <td><%= JSON.parse(received.to_json)["confirmations"] %></td>
          <td><%= JSON.parse(received.to_json)["amounts_received"][0]["amount"] %></td>
        </tr>
        <% end %>
      </table>
    </div>

    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test4" class="col s12">Test 4</div>
  </div>
