<div id="logo">
  <div class="view">
    <div class="plane main">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
      KRPT WALLET
  </div>

</div>

<div class="card auth-form animated flipInX">

  <h4>Login</h4><br>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <!-- <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label 'remember_me', id:'remember_me' %>
      </div>
    <% end -%> -->

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-login" %>
    </div><hr>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
